/*.plus{
  rowspan="2";
}*/

.calcDisplay {
  height: 30px;
  width: 300px;
  border: 1px black solid;
}

.imageCalcContainer {
  /*background-image: url(https://upload.wikimedia.org/wikipedia/commons/2/24/Male_mallard_duck_2.jpg);*/
  height: 1024px;
  width: 768px;
}
